body {
  height: 100vh;
  margin: 0;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

body {
  --bs-body-line-height: normal;
}
p,
:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6):has(+ p) {
  line-height: 1.5;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  line-height: normal;
}

.contextmenu {
  border: 0.09em solid #bdbdbd !important;
  padding: 0.35em 0 !important;
  z-index: calc(99999 + 1) !important;
}
.contextmenu__item {
  padding-top: 0.4em !important;
  padding-bottom: 0.5em !important;
  margin-bottom: 0 !important;
  border-radius: 0.35em;
}
.contextmenu__item:hover:not(.contextmenu__item--disabled) {
  background-color: #d3d3d3 !important;
}
.contextmenu__item:not(.menu-item-separator) {
  margin-left: 0.35em;
  margin-right: 0.35em;
}
.menu-item-separator {
  cursor: default !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: -0.35em !important;
}
.menu-item-separator::after {
  content: "━━━━━━━━━━━━━━";
  font-size: 80%;
  color: #777;
}

.fst-mono {
  font-family: Menlo, Consolas, monospace;
  font-size: 90%;
}
