.editor {
  display: flex;
  flex-flow: row;
  gap: 1em;

  box-sizing: border-box;
  padding: 1.5em;

  font-family: Consolas, monospace;
  font-size: 16px;

  user-select: none;
}

.blocks {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 1em;
}

.block-v {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;

  width: fit-content;
  padding-left: 0.25em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  border-radius: 0.5em;
}
.block-v:hover:not(:has(.block-v:hover)) {
  outline: 0.09em solid #aaa;
}
.block-v > :not(.block-v-heading) {
  margin-left: 1em;
}
.block-v-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-heading > :not(.block-v-label) {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.block-v-label {
  padding: 0.25em;
}
.block-v-hinted {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-hinted > :not(.block-v-hint) {
  margin-left: 1em;
}
.block-v-hint {
  font-size: 70%;
}
.block-v-hint::after {
  content: ":";
}

.block-h {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 0.5em;

  padding: 0.05em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background: #fdd279;
  border: 0.09em solid black;
  border-radius: 0.65em;
}
.block-h-label {
}

.block-ident,
.block-ident-def,
.block-bool {
  display: flex;

  width: fit-content;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background: rgb(236, 250, 205);
  border: 1px solid black;
  border-radius: 0.75em;
}

.block-ident-def {
  background: #cf6;
}

.block-bool {
  background: #baf7ff;
}

.block-hole {
  display: flex;

  width: fit-content;
  padding: 0.5em;

  background: rgb(238, 238, 238);
  border: 0.09em solid black;
  border-radius: 0.75em;
}

.block-dragged-over {
  outline: 6px solid #ffe102;
}
