.split > .gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.split > .gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.split > .gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: row-resize;
}
.split > .gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.split > * {
  box-sizing: border-box;
}

.editor-split {
  display: flex;
  flex-flow: row;

  box-sizing: border-box;
  height: calc(100% - var(--menu-bar-height) + 4.5px);

  user-select: none;
}

.canvas-split {
  display: flex;
  flex-flow: column;
}

.blocks {
  display: flex;
  flex-flow: column;

  background: #ecf6f2;
}

.blocks-page {
  position: relative;
  overflow: auto;
  height: 100%;
}

.blocks-page-tabcontent {
  height: 0;
  flex-grow: 1;
}

.blocks-page-tabcontent > .menu-trigger {
  width: 100%;
  height: 100%;
}

.block-outer-container {
  touch-action: none;
  cursor: grab;

  font-family: Menlo, Consolas, monospace;
  font-size: 14px;
}
.block-outer-container:hover:not(:has(.block-outer-container:hover))
  > .block:not(.block-drop-will-delete).block-draggable {
  outline: 0.2em solid #1fdcd9;
}

.block-outer-container:hover:not(:has(.block-outer-container:hover)) > .block.block-nameable {
  outline: 0.25em solid #ff7cb1;
}

.block-outer-container:hover:not(:has(.block-outer-container:hover))
  > .block:not(.block-dragging):not(.block-draggable):not(.block-nameable) {
  outline: 0.2em solid #9f9f9f;
}

.block-hat {
  display: flex;
  flex-flow: column nowrap;

  width: fit-content;

  border-radius: 0.5em;
}

.block-hat > .block-hat-heading {
  padding: 0.5em;

  background: rgb(220, 228, 234);
  border: 0.09em solid black;
  border-radius: 0.5em;
}

.block-hat-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.block-hat-heading > :not(.block-hat-label) {
  margin-left: 0.5em;
  margin-right: 0.25em;
}

.block-hat > .menu-trigger > .block-outer-container > .block {
  width: 100%;
}

/* Has a non-phantom child, so sharpen bottom borders of heading */
.block-hat:has(> .menu-trigger > .block-outer-container > .block:not(.block-name-hole-phantom))
  > .block-hat-heading,
/* Is hovered and has a child, so sharpen bottom borders of heading */
.block-hat:hover:has(> .menu-trigger > .block-outer-container > .block) > .block-hat-heading {
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
}

/* Has a phantom last child, so sharpen borders of all children except the last and second-to-last */
.block-hat:has(> .menu-trigger:last-child > .block-outer-container > .block.block-name-hole-phantom)
  > .menu-trigger:not(:last-child):not(:nth-last-child(3)) /* 3 instead of 2 due to interspersed <style> elements */
  > .block-outer-container
  > .block,
/* Does not have a phantom last child, so sharpen borders of all children except the last */
.block-hat:not(
    :has(> .menu-trigger:last-child > .block-outer-container > .block.block-name-hole-phantom)
  )
  > .menu-trigger:not(:last-child)
  > .block-outer-container
  > .block,
/* Is hovered, so sharpen borders of all children except the last */
.block-hat:hover > .menu-trigger:not(:last-child) > .block-outer-container > .block {
  border-radius: 0;
}

/* Has a phantom child, so sharpen top borders of the second-to-last child */
.block-hat:has(> .menu-trigger:last-child > .block-outer-container > .block.block-name-hole-phantom)
  > .menu-trigger:nth-last-child(3) /* 3 instead of 2 due to interspersed <style> elements */
  > .block-outer-container
  > .block,
/* Sharpen top borders of last child */
.block-hat > .menu-trigger:last-child > .block-outer-container > .block {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block-v {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;

  width: fit-content;
  padding-left: 0.25em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* background: #e1e8ed; */
  border: 0.09em solid black;
  border-radius: 0.5em;
}
.block-v > :not(.block-v-heading) {
  margin-left: 1em;
}
.block-v-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-heading > :not(.block-v-label) {
  margin-left: 0.5em;
  margin-right: 0.25em;
}
.block-v-label {
  padding: 0.25em;
}
.block-v-hinted {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-hinted > :not(.block-v-hint) {
  margin-left: 1em;
}
.block-v-hint {
  font-size: 70%;
}
.block-v-hint::after {
  content: ":";
}

.block-h,
.block-happly,
.block-hlist,
.block-quote {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 0.5em;

  width: fit-content;
  padding: 0.05em;
  padding-left: 0.75em;
  padding-right: 0.75em;

  background: #ffba49;
  border: 0.09em solid black;
  border-radius: 0.65em;
}
.block-h-pull-tab-container {
  width: 0.75em;
}
.block-h-pull-tab-container > .menu-trigger {
  width: 100%;
  height: 100%;
}
.block-h-pull-tab {
  display: none;

  position: relative;
  right: 1.65em;
  width: 2.2em;
  top: 6%;
  height: 90%;

  background: rgb(191, 200, 209);
  border: 0.09em solid black;
  border-radius: 0.65em;

  transition: transform 80ms ease-out;
}
.block-h-pull-tab-shown {
  display: flex;
}
.block-h-pull-tab-shown > svg {
  margin: auto;
}

.block-h-label,
.block-v-label {
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  /* Visible on identifier hover */
  border-radius: 0.25em;
}

.block,
.block-h-label,
.block-v-label,
.block-type-label {
  width: max-content;
}

.block-happly {
  background: #ffe070;
}

.block-hlist:empty::before {
  content: "\a0";
  line-height: 1.5;
}
.block-hlist {
  background: #e2b2eb;
}

.block-quote {
  background: #f47a69;
}
.block-quote-label {
  margin-top: auto;

  font-size: 1.5em;
  font-weight: 900;
}

.block-ident,
.block-name-binding,
.block-type-name-binding,
.block-type,
.block-type-var,
.block-symbol,
.block-string,
.block-bool,
.block-number {
  display: flex;
  align-items: baseline;
  gap: 0.5em;

  width: fit-content;
  padding: 0.25em;
  padding-left: 0.55em;
  padding-right: 0.55em;

  background: #fcff58;
  border: 0.09em solid black;
  border-radius: 0.75em;
}

.block-name-binding {
  background: #bcff02;
}

.block-type,
.block-type-var,
.block-type-name-binding,
.block-type-label {
  border-radius: 0.45em;
  font-size: 0.85em;
}

.block-type {
  background: #cdceff;
}

.block-type-var {
  background: #ffde58;
}

.block-type-name-binding {
  background: #f8b0ff;
}

.block-type-label-arrow {
  font-size: 1.2em;

  position: relative;
  top: 0.08em;

  margin-left: 0.12em;
  margin-right: 0.12em;
}

.block-symbol {
  background: #89f1ff;
}

.block-string {
  background: rgb(255, 203, 239);
}

.block-bool {
  background: #b2e4ff;
}

.block-number {
  background: #7dff85;
}

.block-hole,
.block-name-hole,
.block-type-name-hole {
  display: flex;

  width: 100%;
  padding: 0.5em;

  background: rgb(220, 228, 234);
  border: 0.09em solid black;
  border-radius: 0.75em;
}
.block-name-hole {
  background: #bcff02;
}
.block-type-name-hole {
  background: #f8b0ff;
  border-radius: 0.45em;
  font-size: 0.85em;
}

.block-hole-symbol {
  width: 100%;
  padding: 0.2em;
  border: 0.09em solid #333;
  border-radius: 0.5em;
}
.block-name-hole-symbol::before {
  content: "…";
  font-family: sans-serif;
  font-weight: bold;

  position: absolute;
  top: -0.45em;
  left: 0.01em;

  width: 100%;
}
.block-name-hole-symbol {
  position: relative;

  width: 100%;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.block-type-name-hole-symbol::before {
  content: "…";
  font-family: sans-serif;
  font-weight: bold;

  position: absolute;
  top: -0.45em;
  left: 0.01em;

  width: 100%;
}
.block-type-name-hole-symbol {
  position: relative;

  width: 100%;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.block-name-hole-phantom:not(:hover) {
  display: none;
  opacity: 0.5;
  background-color: #eee;
}

.block-v-heading:hover > .menu-trigger > .block-outer-container > .block-name-hole-phantom,
.block-hat:hover > .menu-trigger > .block-outer-container > .block-name-hole-phantom {
  display: flex;
}

.block-v-heading:hover
  > .menu-trigger
  > .block-outer-container
  > .block-name-hole-phantom
  .block-name-hole-symbol::before {
  content: "+";

  position: absolute;
  top: -0.37em;
  left: 0.2em;
}

.block-hat:hover
  > .menu-trigger
  > .block-outer-container
  > .block-name-hole-phantom
  .block-name-hole-symbol::before {
  content: "+";

  text-align: center;
  position: absolute;
  top: -0.37em;
}

.drag-overlay > .menu-trigger > .block-outer-container > .block-dragging {
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.8);
  cursor: grabbing;
}

.block-dragged-over {
  outline: 0.4em solid #ee59cb;
}

.block-dragged-over.block-h-pull-tab,
.block:not(.block-dragging)
  + .block-h-pull-tab-container:hover
  > .menu-trigger
  > .block-h-pull-tab {
  outline: 0.4em solid #ee59cb;
  outline-width: 0.3em;
  transform: translateX(1em);
}

.block-drop-will-delete {
  outline: 0.4em solid rgba(221, 66, 66, 0.987);
}

.block-error,
.block-error + .block-h-pull-tab-container > .menu-trigger > .block-h-pull-tab {
  box-shadow: 0px 0px 0em 0.25em #ff6b55;
}

.modal {
  z-index: 99999;
}
.modal-backdrop {
  z-index: 99900;
}
