.split > .gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.split > .gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.split > .gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: row-resize;
}
.split > .gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.split > * {
  box-sizing: border-box;
}

.editor-split {
  display: flex;
  flex-flow: row;

  box-sizing: border-box;
  height: calc(100% - var(--menu-bar-height));

  user-select: none;
}

.canvas-split {
  display: flex;
  flex-flow: column;
}

.blocks {
  position: relative;
  overflow: auto;
}

.block-outer-container {
  touch-action: none;
  cursor: grab;

  font-family: Menlo, Consolas, monospace;
  font-size: 14px;
}
.block-outer-container:hover:not(:has(.block-outer-container:hover))
  > .block:not(.block-drop-will-delete).block-draggable {
  outline: 0.2em solid #1fdcd9;
}

.block-outer-container:hover:not(:has(.block-outer-container:hover)) > .block.block-nameable {
  outline: 0.25em solid #ff7cb1;
}

.block-outer-container:hover:not(:has(.block-outer-container:hover))
  > .block:not(.block-dragging):not(.block-draggable):not(.block-nameable) {
  outline: 0.2em solid #9f9f9f;
}

.block-hat {
  display: flex;
  flex-flow: column nowrap;

  width: fit-content;

  border-radius: 0.5em;
}
.block-hat > .block-hat-heading {
  padding: 0.5em;

  background: rgb(220, 228, 234);
  border: 1px solid black;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
}
.block-hat > .menu-trigger > .block-outer-container > .block {
  border-radius: 0 0 0.5em 0.5em;
  width: 100%;
}
.block-hat-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-hat-heading > :not(.block-hat-label) {
  margin-left: 0.5em;
  margin-right: 0.25em;
}

.block-v {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;

  width: fit-content;
  padding-left: 0.25em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* background: #e1e8ed; */
  border: 0.09em solid black;
  border-radius: 0.5em;
}
.block-v > :not(.block-v-heading) {
  margin-left: 1em;
}
.block-v-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-heading > :not(.block-v-label) {
  margin-left: 0.5em;
  margin-right: 0.25em;
}
.block-v-label {
  padding: 0.25em;
}
.block-v-hinted {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.block-v-hinted > :not(.block-v-hint) {
  margin-left: 1em;
}
.block-v-hint {
  font-size: 70%;
}
.block-v-hint::after {
  content: ":";
}

.block-h,
.block-happly,
.block-hlist,
.block-quote {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 0.5em;

  width: fit-content;
  padding: 0.05em;
  padding-left: 0.75em;
  padding-right: 0.75em;

  background: #ffba49;
  border: 0.09em solid black;
  border-radius: 0.65em;
}
.block-h-pull-tab-container {
  width: 0.75em;
}
.block-h-pull-tab {
  display: none;

  position: relative;
  right: 1.65em;
  width: 2.2em;
  top: 6%;
  height: 90%;

  background: rgb(191, 200, 209);
  border: 0.09em solid black;
  border-radius: 0.65em;

  transition: transform 80ms ease-out;
}
.block-h-pull-tab-shown {
  display: flex;
}
.block-h-pull-tab-shown > svg {
  margin: auto;
}

/* Visible on identifier hover */
.block-h-label,
.block-v-label {
  border-radius: 0.25em;
}

.block,
.block-h-label,
.block-v-label {
  width: max-content;
}

.block-happly {
  background: #ffe070;
}

.block-hlist:empty::before {
  content: "\a0";
  line-height: 1.5;
}
.block-hlist {
  background: #e2b2eb;
}

.block-quote {
  background: #f47a69;
}
.block-quote-label {
  margin-top: auto;

  font-size: 1.5em;
  font-weight: 900;
}

.block-ident,
.block-name-binding,
.block-type-name-binding,
.block-type,
.block-symbol,
.block-string,
.block-bool,
.block-number {
  display: flex;
  align-items: baseline;
  gap: 0.5em;

  width: fit-content;
  padding: 0.25em;
  padding-left: 0.55em;
  padding-right: 0.55em;

  background: #fcff58;
  border: 1px solid black;
  border-radius: 0.75em;
}

.block-name-binding {
  background: #bcff02;
}

.block-type,
.block-type-name-binding {
  border-radius: 0.45em;
  font-size: 0.85em;
}

.block-type {
  background: #cdceff;
}

.block-type-name-binding {
  background: #f8b0ff;
}

.block-symbol {
  background: #89f1ff;
}

.block-string {
  background: rgb(255, 203, 239);
}

.block-bool {
  background: #b2e4ff;
}

.block-number {
  background: #7dff85;
}

.block-hole,
.block-name-hole,
.block-type-name-hole {
  display: flex;

  width: 100%;
  padding: 0.5em;

  background: rgb(220, 228, 234);
  border: 0.09em solid black;
  border-radius: 0.75em;
}
.block-name-hole {
  background: #bcff02;
}
.block-type-name-hole {
  background: #f8b0ff;
  border-radius: 0.45em;
  font-size: 0.85em;
}

.block-hole-symbol {
  width: 100%;
  padding: 0.2em;
  border: 1px solid #333;
  border-radius: 0.5em;
}
.block-name-hole-symbol::before {
  content: "…";
  font-family: sans-serif;
  font-weight: bold;

  position: absolute;
  top: -0.45em;
  left: 0.01em;

  width: 100%;
}
.block-name-hole-symbol {
  position: relative;

  width: 100%;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.block-type-name-hole-symbol::before {
  content: "…";
  font-family: sans-serif;
  font-weight: bold;

  position: absolute;
  top: -0.45em;
  left: 0.01em;

  width: 100%;
}
.block-type-name-hole-symbol {
  position: relative;

  width: 100%;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.drag-overlay > .menu-trigger > .block-outer-container > .block-dragging {
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.8);
  cursor: grabbing;
}

.block-dragged-over {
  outline: 0.4em solid #ee59cb;
}
.block-dragged-over.block-h-pull-tab {
  outline-width: 0.3em;
  transform: translateX(1em);
}

.block-drop-will-delete {
  outline: 0.4em solid rgba(221, 66, 66, 0.987);
}

.block-error,
.block-error + .block-h-pull-tab-container > .block-h-pull-tab {
  box-shadow: 0px 0px 0em 0.25em #ff6b55;
}

.modal {
  z-index: 99999;
}
.modal-backdrop {
  z-index: 99900;
}
