.library-container {
  display: flex;
  flex-flow: row;
  gap: 1em;

  flex-grow: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
  z-index: 99900;

  border-left: 0.14rem solid black;
  background: rgb(217, 248, 193)
}

.library {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 0.5em;

  width: 22rem;
  height: fit-content;
  padding: 1em;
  margin-top: 1em;

  border-radius: 0.5em;
  /* background: rgb(236, 254, 221); */
}

.library-heading {
  width: 100%;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 120%;

  border-bottom: 0.14rem solid black;
}

.library-subheading {
  width: 100%;
  padding: 0;
  margin: 0;

  font-size: 100%;
}

.library-context-help {
  padding-bottom: 0.5em;
}

.library-context-help-text {
  padding: 0;
  margin: 0;
  margin-top: 0.25em;
}
