.library-container {
  display: flex;
  flex-flow: row;
  gap: 1em;

  flex-grow: 0;
  overflow: auto;
  z-index: 99900;

  border-left: 0.14rem solid black;
  background: #e1e8ed;
}

.library-container > :first-child {
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.library-category-tabs {
  gap: 0.5em;
  font-size: 12.5px;

  margin-top: 0.5em;
  overflow-x: auto;

  --bs-nav-link-padding-y: 0.5em;
  --bs-nav-link-padding-x: 1em;
}
.library-category-tabs .nav-item {
  display: flex;
}
.library-category-tabs .nav-link {
  display: flex;

  height: 100%;
  text-align: center;
}
.library-category-tabs .nav-link > .library-nav-link-text {
  margin: auto;
}
.library-category-tabs .nav-link:not(.active) {
  color: var(--bs-black);
}
.library-category-tabs .nav-link.active {
  background: var(--bs-secondary);
}
.library-category-tabs .nav-link:not(.active) {
  background: rgba(var(--bs-light-rgb), 0.75);
}
.library-category-tabs .nav-link:not(.active):hover {
  background: var(--bs-white);
}

.library {
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}

.library .tab-pane.active {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  width: fit-content;
  height: fit-content;
  padding: 0.5em;

  border-radius: 0.5em;
  /* background: rgb(236, 254, 221); */
}
.library .tab-pane > :not(.library-category-tabs):not(.tab-content) {
  margin-top: 0.5em;
}

.library-heading {
  width: 100%;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 100%;

  border-bottom: 0.14rem solid black;
}

.library-subheading {
  width: 100%;
  padding: 0;
  margin: 0;

  font-size: 100%;
}

.library-context-help {
  padding-bottom: 0.5em;
}

.library-context-help-text {
  padding: 0;
  margin: 0;
  margin-top: 0.25em;
}
