.library-container {
  display: flex;
  flex-flow: row;
  gap: 1em;

  margin: 1em;
  margin-left: auto;
}

.divider {
  border: 0.1em solid rgba(0, 0, 0, 0.422);
}

.library {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 0.5em;

  width: fit-content;
  height: 80vh;
  min-width: 15%;
  padding: 1em;
  overflow: auto;

  border-radius: 0.5em;
  background: rgb(236, 254, 221);
}

.library-heading {
  width: 100%;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 120%;

  border-bottom: 0.1em solid black;
}
